body{
  margin: 0; padding: 0;
}

ul{
  margin: 0; padding: 0;
  line-height:0;
}

ul.resizeimg img{
  width: 100%; 
  height: auto;
}

.snap {/*親div*/
  position: relative;/*相対配置*/
  overflow: hidden;
}

.snap p {
  position: absolute;/*絶対配置*/
  color: #191970;/*文字は白に*/
  bottom: 0px;
  right: 20px;
  font-weight: bold; /*太字に*/
  font-family :Quicksand, sans-serif;/*Google Font*/
}

.snap img {
  transition: 0.5s;
  /*拡大されるスピードを設定します*/
}

.snap img:hover {
  -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  /*拡大される比率を設定します*/
  
}

p.name{
  font-family: "あさご本丸ゴシック";
  font-size: x-large;
  font-weight: bold;
}

p.link{
  font-family: "あさご本丸ゴシック";
  font-size: large;
  font-weight: bold;
}

.split-box{
  position:absolute;
  width:50%;
  height:100%;
  text-align: center;
}

.left-box {
  left:0;
  background:#f0fff0;
  color:#f08080;
  overflow-y:scroll;
}

.right-box {
  right:0;
  background:#f08080;
  color:#f0fff0;
}

.logo{
  max-height: 300px;
  width: auto;
  margin-top: 150px; 
}

@media screen and (max-width:600px) { 
  .split-box {
    position:relative;
    width:100%;
    height:auto; 
  }
}
